<mat-toolbar class="toolbar">
  <div fxLayout="row" fxFill fxLayoutAlign=" center">
    <div fxFlex="none" fxHide="false" fxHide.gt-sm>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item href="https://github.com/eduardomourar/dutch-tax-income-calculator2" matTooltip="{{'GITHUB'|translate}}" matTooltipPosition="right">
          <mat-icon class="github"></mat-icon>
        </a>
        <mat-divider></mat-divider>
        <label class="language mat-tab-label">{{'LANGUAGE'|translate}}</label>
        <button mat-menu-item *ngFor="let lang of translate.getLangs()" (click)="translate.use(lang)">
          <mat-icon class="flag {{lang}}"></mat-icon>
          <span>{{lang}}</span>
        </button>
      </mat-menu>
    </div>
    <div fxFlex="none" class="title">
      {{'TITLE'|translate}}
      <div fxFlex="none" fxShow="false" fxShow.gt-sm class="motto">&nbsp;{{'MOTTO'|translate}} {{year - 2}}, {{year - 1}} {{'AND'|translate}} {{year}}</div>
    </div>
    <div fxFlex></div>
    <div fxFlex="none" fxShow="false" fxShow.gt-sm>
      <mat-select placeholder="{{'LANGUAGE'|translate}}" (change)="translate.use(selectedLang)" [(ngModel)]="selectedLang">
        <mat-option class="flags" *ngFor="let lang of translate.getLangs()" [value]="lang">
          <mat-icon class="flag {{lang}}"></mat-icon>
          {{lang}}
        </mat-option>
      </mat-select>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="github" href="https://github.com/eduardomourar/dutch-tax-income-calculator2">
        <mat-icon matTooltip="{{'GITHUB'|translate}}" matTooltipPosition="left"></mat-icon>
      </a>
    </div>
  </div>
</mat-toolbar>
<app-content></app-content>
<app-ruling></app-ruling>
