<div class="content">
  <md-tab-group [(selectedIndex)]="selectedTab" (selectChange)="changeOption(true, choices[selectedTab])">
    <md-tab *ngFor="let choice of choices">
      <ng-template md-tab-label>
        <label mdTooltip="{{rename(choice)+'_TITLE'|translate}}" style="cursor: pointer;">{{rename(choice)|translate}}</label>
      </ng-template>
      <md-input-container class="income">
        <span md-prefix>€&nbsp;</span>
        <input mdInput type="number" min="1" autofocus required placeholder="{{'SALARY'|translate}}"
          [(ngModel)]="options.income" (input)="changeOption(false, choice)" align="end">
        <md-hint align="end">{{rename(choice)+'_TITLE'|translate}}</md-hint>
      </md-input-container>
    </md-tab>
  </md-tab-group>
  <md-sidenav-container>
    <button md-fab mdTooltip="{{'OPTIONS'|translate}}" (click)="sidenav.open(); changeOption()">
      <md-icon>add</md-icon>
    </button>
    <div class="sidenav-result">
      <md-list class="result" *ngIf="output">
        <md-list-item [ngClass]="{'hide': !options.output[key]}" *ngFor="let key of getKeys(output)">
          <label md-line *ngIf="key == 'taxFree'" [ngClass]="{'value': true, 'positive': output[key] > 0}">
            {{output[key] | number:0}}%
          </label>
          <label md-line *ngIf="key != 'taxFree'"
              [ngClass]="{'value': true, 'positive': getPositive(output[key], key), 'negative': output[key] < 0}">
            {{output[key] | euro:key}}
          </label>
          <p md-line><span>{{'OUTPUT.'+rename(key)|translate}}</span></p>
        </md-list-item>
      </md-list>
    </div>
    <md-sidenav #sidenav align="start">
      <md-list>
        <md-list-item class="label">
          <label md-line>{{'YEAR'|translate}}:</label>
        </md-list-item>
        <md-list-item class="item-fill-height">
          <md-radio-group [(ngModel)]="options.year" (change)="changeOption()">
            <md-radio-button value="{{year}}" *ngFor="let year of years">{{year}}</md-radio-button>
          </md-radio-group>
        </md-list-item>
        <md-list-item>
          <md-checkbox md-line [(ngModel)]="options.allowance" (change)="changeOption()"
              aria-label="{{'ALLOWANCE_TITLE'|translate}}" title="{{'ALLOWANCE_TITLE'|translate}}">
            {{'ALLOWANCE'|translate}}
          </md-checkbox>
        </md-list-item>
        <md-list-item>
          <md-checkbox md-line [(ngModel)]="options.social" (change)="changeOption()"
              aria-label="{{'SOCIAL_TITLE'|translate}}" title="{{'SOCIAL_TITLE'|translate}}">
            {{'SOCIAL'|translate}}
          </md-checkbox>
        </md-list-item>
        <md-list-item>
          <md-checkbox md-line [(ngModel)]="options.older" (change)="changeOption()"
              aria-label="{{'OLDER_TITLE'|translate}}" title="{{'OLDER_TITLE'|translate}}">
            {{'OLDER'|translate}}
          </md-checkbox>
        </md-list-item>
        <md-list-item>
          <md-checkbox md-line [(ngModel)]="ruling" (change)="changeOption(true)"
              aria-label="{{'RULING_TITLE'|translate}}" title="{{'RULING_TITLE'|translate}}">
            {{'RULING'|translate}}
          </md-checkbox>
        </md-list-item>
        <md-list-item class="item-fill-height">
          <md-radio-group [(ngModel)]="options.ruling" [disabled]="!ruling" (change)="changeOption()">
            <md-radio-button value="research" aria-label="{{'RESEARCH_TITLE'|translate}}" title="{{'RESEARCH_TITLE'|translate}}">
              {{'RESEARCH'|translate}}
            </md-radio-button>
            <md-radio-button value="young" aria-label="{{'YOUNG_TITLE'|translate}}" title="{{'YOUNG_TITLE'|translate}}">
              {{'YOUNG'|translate}}
            </md-radio-button>
            <md-radio-button value="normal" aria-label="{{'NORMAL_TITLE'|translate}}" title="{{'NORMAL_TITLE'|translate}}">
              {{'NORMAL'|translate}}
            </md-radio-button>
          </md-radio-group>
        </md-list-item>
      </md-list>
      <div class="collapsible-item">
        <md-toolbar class="collapsible-heading" (click)="show = !show"
            [ngClass]="{'collapsed': !show, 'expanded': show}">
          <button md-icon-button type="button" aria-hidden="false" title="{{'EXPAND'|translate}}">
            <md-icon *ngIf="!show">expand_more</md-icon>
            <md-icon *ngIf="show">expand_less</md-icon>
          </button>
          <label>{{'ADVANCED'|translate}}</label>
        </md-toolbar>
        <div class="slide-down" [@slideDown]="show ? 'void' : 'up'">
          <md-list class="collapsible-content">
            <md-list-item>
              <md-input-container md-line>
                <input mdInput type="number" min="1" max="100" placeholder="{{'HOURS'|translate}}"
                  [(ngModel)]="options.hours" (input)="changeOption()" align="end">
              </md-input-container>
            </md-list-item>
            <md-list-item class="label">
              <label md-line>{{'DISPLAY'|translate}}:</label>
            </md-list-item>
            <md-list-item *ngFor="let key of getKeys(options.output)">
              <md-checkbox md-line class="options" [(ngModel)]="options.output[key]" (change)="changeOption()">
                {{'OUTPUT.'+rename(key)|translate}}
              </md-checkbox>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </md-sidenav>
  </md-sidenav-container>
<div>