<md-card>
  <md-card-title>{{'DISCLAIMER'|translate}}</md-card-title>
  <md-card-content class="disclaimer">
    <p>{{'DISCLAIMER_DESC'|translate}}</p>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>{{'RULING'|translate}}</md-card-title>
  <md-card-content>
    <p>{{'RULING_DESC'|translate}}{{year}}:<br></p>
    <ul>
      <li>{{'RESEARCH_DESC'|translate}}</li>
      <li>{{'YOUNG_DESC'|translate}}
        <b>{{ruling[year].young | currency:'EUR':true:'1.0-0'}}</b> ({{year - 1}}: {{ruling[year - 1].young | currency:'EUR':true:'1.0-0'}}).
      </li>
      <li>{{'NORMAL_DESC'|translate}}
        <b>{{ruling[year].normal | currency:'EUR':true:'1.0-0'}}</b> ({{year - 1}}: {{ruling[year - 1].normal | currency:'EUR':true:'1.0-0'}}).
      </li>
    </ul>
  </md-card-content>
</md-card>
