.mat-input-container {
  width: 50%;
  font-size: 30px;
  margin: 10px;
}
.mat-sidenav-container {
  height: 600px;
  margin: 20px;
}
.sidenav-content {
  display: flex;
  padding: 20px;
  align-items: left;
  justify-content: left;
}
.mat-sidenav {
  padding: 20px;
}
.mat-mini-fab {
  position: absolute;
  right: 20px;
  top: 10px;
}
