<md-input-container>
  <span md-prefix>€&nbsp;</span>
  <input mdInput placeholder="{{'SALARY' | translate}}" align="end" (input)="changeOption('income',$event.target.value)" [value]="options.income">
</md-input-container>

<md-sidenav-container>
  <div class="sidenav-content">
    <app-result></app-result>
    <button md-mini-fab mdTooltip="{{'OPTIONS' | translate}}" (click)="sidenav.open()">
      <md-icon>add</md-icon>
    </button>
  </div>
  <md-sidenav #sidenav align="end">
    <md-list>
      <h3 md-subheader>{{'GENERAL' | translate}}</h3>
      <md-list-item>
        <label>{{'YEAR'| translate}}:</label>
        <md-radio-group>
          <md-radio-button value="2015">2015</md-radio-button>
          <md-radio-button value="2016">2016</md-radio-button>
          <md-radio-button value="2017">2017</md-radio-button>
        </md-radio-group>
      </md-list-item>
      <md-list-item>
        <md-checkbox [checked]="options.allowance" (change)="changeOption('allowance',$event.checked)">
          {{'ALLOWANCE'| translate}}
        </md-checkbox>
      </md-list-item>
      <md-list-item>
        <md-checkbox [checked]="options.ruling" (change)="changeOption('ruling',$event.checked)">
          {{'SOCIAL'| translate}}
        </md-checkbox>
      </md-list-item>
      <md-list-item>
        <md-checkbox [checked]="options.ruling" (change)="changeOption('ruling',$event.checked)">
          {{'AGE'| translate}}
        </md-checkbox>
      </md-list-item>
      <md-list-item>
        <md-checkbox [checked]="options.ruling" (change)="changeOption('ruling',$event.checked)">
          {{'RULING'| translate}}
        </md-checkbox>
      </md-list-item>
      <md-divider></md-divider>
      <h3 md-subheader>{{'ADVANCED' | translate}}</h3>
      <md-list-item>
        <md-checkbox [checked]="options.ruling" (change)="changeOption('ruling',$event.checked)">
          {{'RULING'| translate}}
        </md-checkbox>
      </md-list-item>
    </md-list>
  </md-sidenav>
</md-sidenav-container>
