/* You can add global styles to this file, and also import other style files*/
@import './theme.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  margin: 0px;
}

.hide {
  display: none !important;
}

.toolbar .mat-toolbar-row {
  height: 80px !important;
}

.mat-checkbox-inner-container-no-side-margin {
  margin-right: 8px !important;
}

.item-fill-height>.mat-list-item-content {
  height: inherit !important;
}

.mat-sidenav-content {
  transform: none !important;
}

.mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: rgba(0,0,0,.3) !important;
}

.collapsible-heading .mat-toolbar-row {
  height: 40px !important;
}

.result.mat-list .mat-list-item .mat-list-item-content {
  font-size: 1.17em !important;
}
