/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  margin: 0px;
}

.hide {
  display: none !important;
}

.toolbar .mat-toolbar-row {
  height: 80px !important;
}

.mat-checkbox-inner-container-no-side-margin {
  margin-right: 8px !important;
}

.item-fill-height>.mat-list-item-content {
  height: inherit !important;
}

.mat-sidenav-content {
  transform: none !important;
}

.mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: rgba(0,0,0,.4) !important;
}
